.section-landing{
  position: relative;
  background: linear-gradient(351.48deg, #81B7DC 0%, #41539D 100%);
  @include content-color($white);

  #landing-book-column{
    order: -1;
  }

  @include breakpoint(medium){
    padding-top: 0;
    height: rem-calc(600);
    padding-left: rem-calc(30);
    padding-right: rem-calc(30);

    #landing-book-column{
      @include flex-align(flex-end);
      order: 1;
    }
  }
  @include breakpoint(medium-large){
    height: rem-calc(545);
  }

  h1{
    text-shadow: 0 2px 4px rgba($black,0.5);

    @include breakpoint(medium){
      margin-top: rem-calc(40);
      margin-bottom: rem-calc(40);
      line-height: rem-calc(48);
    }
  }

  .lead{
    font-size: rem-calc(22);
    text-shadow: 0 2px 4px rgba($black,0.5);
    @include breakpoint(medium){
      font-size: rem-calc(30);
      line-height: rem-calc(36);
    }
  }

  .landing-book{
    @include breakpoint(medium){
      position: absolute;
      z-index: 99;
      width: rem-calc(350);
      top: rem-calc(40);
    }
    @include breakpoint(medium-large){
      right: auto;
      width: auto;
      left: auto;
    }
    @include breakpoint(large){
      .landing-book{
        top: rem-calc(40);
        left: rem-calc(35);
      }
    }
  }

  .landing-cta{
    @include flex;
    @include flex-align(center, bottom);
    background: url('/images/Mandala.png') center 0;

    .button{
      margin-bottom: rem-calc(40);
    }

    @include breakpoint(medium){
      position: absolute;
      left: 50%;
      margin-left: rem-calc(-268);
      bottom: 0;
      width: rem-calc(536);
      height: rem-calc(211);
    }
    @include breakpoint(medium-large){
      left: auto;
      margin-left: 0;
    }
  }
}

#newsletter-signup{
  padding: rem-calc(30);

  #thank-you{
    display: none;

    h2{
      margin: 0 !important;
      color: $blue;
    }
  }

  .newsletter-signup-container{
    text-align: center;
    margin: 0 auto;
    position: relative;

    input[type=submit]{
      display: block;
      width: 100%;
      line-height: rem-calc(20);
    }
  }

  @include breakpoint(medium){
    padding: rem-calc(50) rem-calc(30) rem-calc(30);
    .newsletter-signup-container{
      width: rem-calc(620);
      form{
        @include flex;
        @include flex-align(center, middle);
        input{
          margin-right: rem-calc(10);
          &[type=text]{
            padding-left: rem-calc(20);
            font-style: normal;
            font-weight: bold;
            font-size: rem-calc(16);
            &::-webkit-input-placeholder{
              text-transform: uppercase;
            }
          }
        }
        input[type=submit]{
          max-width: rem-calc(120);
          line-height: rem-calc(20);
          color: $white;
          // background: linear-gradient(340deg, #5686B5 0%, #3F519E 60%);
        }
      }
    }
  }
}

#about{
  background: $white url('/images/Blue-Mandala.png') center top no-repeat;

  .callout-header{
    display: block;
    text-align: center;
    font-weight: bold;
    color: $blue;
    padding: 0 rem-calc(40);

    @include breakpoint(large){
      font-size: rem-calc(38);
      line-height: rem-calc(46);
    }
  }

  #learn-to{
    margin-top: rem-calc(30);
    @include breakpoint(medium){
      margin-top: 0;
    }
  }
}

#order-now{
  .vendors{
    padding: rem-calc(30);
    text-align: center;
    @include breakpoint(large){
      @include flex;
      @include flex-align(center, middle);
      justify-content: space-around;
    }
  }
}

#testimonials{
  position: relative;
  padding: rem-calc(30);
  .quote-icon{
    position: absolute;
    width: rem-calc(50);
    top: rem-calc(-20);
    left: -10px;
    @include breakpoint(large){
      width: auto;
      left: rem-calc(60);
    }
  }
  #testimonials-slider{
    width: 100%;
    max-width: rem-calc(640);
    height: rem-calc(600);
    margin: 0 auto;
    padding-bottom: rem-calc(40);
    author{
      display: block;
      font-style: italic;
      font-size: 0.8em;
      margin-top: rem-calc(10);
    }
    @include breakpoint(medium){
      height: rem-calc(350);
    }
    @include breakpoint(large){
      height: rem-calc(320);
      padding-bottom: rem-calc(60);
    }

    .rsSlide{
      @include breakpoint(large){
        @include flex();
        @include flex-align(middle, middle);
      }
    }
  }
}

#about-sarah{
  background-color: #DEE8F1;
  font-size: rem-calc(20);
  padding-bottom: 0;

  #desktop-sarah{
    @include flex();
    align-items: flex-end;
    padding-left: 0;
  }

  #mobile-sarah{
    @include flex();
    align-items: flex-end;

    padding-top: rem-calc(20);
    order: 1;
    @include breakpoint(medium){
      order: 0;
    }
  }

  @include breakpoint(medium){
    padding: rem-calc(20 0 0);
  }
  h2{
    text-align: left;
    margin: 0;
  }
  .subtitle{
    opacity: 0.8;
    margin-bottom: rem-calc(30);
  }
  .socialmedia{
    width: 100%;
    margin-bottom: rem-calc(15);

    .fa{
      margin-right: rem-calc(10);
      font-size: rem-calc(30);
    }
    @include breakpoint(medium){
      margin-bottom: 0;
    }
  }
}

#share{
  @include content-color($white);
  padding: rem-calc(30);
  .socialmedia-icons{
    @include flex;
    @include flex-align(center, middle);
    a{
      margin-right: rem-calc(20);
      &:last-child{
        margin-right: 0;
      }
    }
    svg{
      width: rem-calc(60);
      @include breakpoint(medium){
        width: auto;
      }
    }
  }
}
