
/***************
* Royal Slider Bullets
****************/

.rsDefault .rsBullets {
	position: absolute;
	z-index: 35;
	left: 0;
	bottom: rem-calc(-10);
	width: 100%;
	height: auto;
	margin: 0 auto;
	text-align: center;
	line-height: 18px;
	overflow: hidden;
}
.rsDefault .rsBullet {
	width: rem-calc(20);
	height: rem-calc(20);
	@include breakpoint(large){
		width: rem-calc(30);
		height: rem-calc(30);
	}
	display: inline-block;
	*display:inline;
	*zoom:1;
	margin: 0 5px 1px;
	border-radius: 50%;
	background: rgba($grey70,0.8);
}
.rsDefault .rsBullet.rsNavSelected  {
	background-color: $primary-color;
}
