<h2>SARAH WALL</h2>
<h4 class="subtitle">AUTHOR | SPEAKER | ENTREPRENEUR</h4>
<p>Sarah is the owner of Body Mind Spirit Coaching. She supports people to break through fear and limiting beliefs by clearing the clutter of the mind, using simple techniques that have immediate and powerful impact. She is also the co-founder of Yoga Vacations, providing a safe space for people to explore their inner world through meditation, while traveling to <span class="nobr">beautiful destinations.</span></p>
<div class="row">
  <div class="small-12 medium-5 hide-for-large" id="mobile-sarah">
    <img src="/images/Sarah.png" alt="Author Sarah Wall" />
  </div>
  <div class="small-12 medium-7 large-12 column">
    <p>Sarah’s own journey into yoga, which began twenty years ago, has taken her around the world many times and sparked her passion to give back. She’s a proud board member of the Helping Hands for India charity, which runs a school in northern India, providing free education to over 300 children.</p>
    <p>Incorporating mindfulness and meditation into her own life has been essential to her well-being when navigating life’s events and she’s excited to share her story to inspire others who are craving something more out of life.</p>
    <div class="row" style="padding-bottom: 10px;">
      <div class="small-12 large-5 columns text-center large-text-left align-middle">
        <div class="socialmedia">
          <a href="https://www.facebook.com/bodymindspiritcoach/" target="_new"><i class="fa fa-facebook-f"></i></a>
          <a href="http://google.com/+Bodymindspiritcoach777" target="_new"><i class="fa fa-google-plus"></i></a>
          <a href="https://ca.linkedin.com/in/sarah-wall-7a530b105" target="_new"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
      <div class="small-12 large-5 columns text-center large-text-right">
        <small>Partial proceeds donated to Helping Hands for India charity</small>
      </div>
      <div class="small-12 large-2 text-center large-text-right">
        <img src="/images/helping-hands-logo-transparent.png" alt="Helping Hands logo" />
      </div>
    </div>
  </div>
</div>
