---
layout: default
class: home
---

<section class="section-landing">
  <div class="row">
    <div class="small-12 medium-6 columns">
      <img class="landing-book" src="/images/lifereboot-book.png" alt="LifeReboot book" />
    </div>
    <div class="small-12 medium-6 columns">
      <h1>How big are your dreams? What will it cost you <u>not</u> to pursue them?</h1>
      <p class="lead">Be inspired to look within to find answers to life’s questions.</p>
    </div>
  </div>
  <div class="landing-cta">
    <a class="button primary large" href="#order-now">ORDER NOW</a>
  </div>
</section>


<section id="newsletter-signup" class="section">
  <div class="newsletter-signup-container">
    <h3>SIGN UP FOR UPDATES AND FREE GIFTS</h3>
    <form>
      <input type="text" name="Name" id="name" placeholder="Your name" />
      <input type="email" name="Email" id="email" placeholder="Your email" />
      <input type="submit" class="button secondary" value="SIGN UP" />
    </form>
    <small>By signing up you give permission for me to email you.</small>
  </div>
</section>


<section id="about" class="section">
  <h2>ABOUT LIFE REBOOT</h2>
  <div class="row">
    <div class="small-12 medium-6 columns">
      <q>Are you feeling stuck in a rut?</q>
      <div class="separator small"></div>
      <q>Are you craving more out of life, from your job, your personal life, and relationships?</q>
    </div>
    <div class="small-12 medium-6 columns">
      <h4>LEARN HOW TO...</h4>
      <ul>
        <li>Kick fear to the curb.</li>
        <li>Transform limiting beliefs.</li>
        <li>Unlock the answers to some of life’s most challenging questions.</li>
        <li>Connect with others in a supportive community who share your struggles.</li>
        <li>Feel balanced, calm and at peace, no matter what your circumstances.</li>
        <li>Build the life you've been imagining and dreaming about.</li>
      </ul>
    </div>
  </div>
</section>

<section id="order-now" class="section section-blue">
  <div class="vendors">
    <a href="#"><img src="/images/Amazon_logo.png" alt="LifeReboot available now through Amazon" /></a>
    <a href="#"><img src="/images/Amazon_Kindle_logo.png" alt="LifeReboot available now through Amazon Kindle" /></a>
  </div>
</section>

<section id="testimonials" class="section">

  <img class="quote-icon" src="/images/quote-icon.png" alt="Testimonial icon" />

  <div id="testimonials-slider" class="royalSlider rsDefault">
    <div>
      <q><strong>One of the best ways to heal</strong> and move on with your life is to first - tell the truth about where you are now. Sarah, with her honesty and heartfelt vulnerability, will lovingly guide you to listen to your inner voice so you can choose your own next step. That step will bring you closer to your destiny.</q>
      <author>Barry Spilchuk - Coauthor - A Cup of Chicken Soup for the Soul</author>
    </div>
    <div>
      <q>A masterful debut into a powerful story that invites you through a journey of self-discovery of inner wealth. It's impossible to read this book and not come away thinking differently about the choices we make and the pressing need for all of us to live a more awakened life with blissful purpose.</q>
      <author>Colleen Walski author Growing Into Greatness</author>
    </div>
    <div>
      <q>Life Reboot is simply a must read! It is a great resource for anyone looking to make changes in their lives and don’t know where to start. If you want to change your outer life, you must first learn to go within. If you want to improve your body, mind and health, let Sarah guide you on an inner journey that will empower you to take your own journey of self-discovery deep within, finding some incredible jewels along the way.</q>
      <author>Kathy Tuccaro, author Dream Big! Overcoming a Lifetime of Trauma & Abuse and Dreams That Led to Success</author>
    </div>
  </div>
</section>


<section id="about-sarah" class="section">
  <div class="row">
    <div class="small-12 medium-7 medium-offset-5 columns">
      <h2>SARAH WALL</h2>
      <h4 class="subtitle">AUTHOR | SPEAKER | ENTREPRENEUR</h4>
      <p>Sarah is the owner of Body Mind Spirit Coaching. She supports people to break through fear and limiting beliefs by clearing the clutter of the mind, using simple techniques that have immediate and powerful impact. She is also the co-founder of Yoga Vacations, providing a safe space for people to explore their inner world through meditation, while traveling to beautiful destinations.</p>
      <p>Sarah’s own journey into yoga, which began twenty years ago, has taken her around the world many times and sparked her passion to give back. She’s a proud board member of the Helping Hands for India charity, which runs a school in northern India, providing free education to over 300 children. Incorporating mindfulness and meditation into her own life has been essential to her well-being when navigating life’s events and she’s excited to share her story to inspire others who are craving something more out of life.</p>
      <div class="row">
        <div class="small-12 medium-5 columns text-center align-middle">
          <div class="socialmedia">
            <a href="https://www.facebook.com/bodymindspiritcoach/" target="_new"><i class="fa fa-facebook-f"></i></a>
            <a href="http://google.com/+Bodymindspiritcoach777" target="_new"><i class="fa fa-google-plus"></i></a>
            <a href="https://ca.linkedin.com/in/sarah-wall-7a530b105" target="_new"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
        <div class="small-12 medium-5 columns text-right">
          <small>Partial proceeds donated to Helping Hands for India charity</small>
        </div>
        <div class="small-2 text-right">
          <img src="/images/helping-hands-logo-transparent.png" alt="Helping Hands logo" />
        </div>
      </div>
    </div>
  </div>
</section>

<section id="share" class="section section-blue">
  <h2>SHARE</h2>
  <div class="socialmedia-icons">
    <a href="https://www.facebook.com/sharer/sharer.php?u=https://liferebootbook.com" target="new">{% include facebook-inverted.svg %}</a>
    <a href="https://www.linkedin.com/shareArticle?mini=true&url=https%3A//liferebootbook.com&title=Life%20Reboot%20by%20Sarah%20Wall&summary=Life%20Reboot%3A%20An%20Inner%20Wisdom%20Guide%20To%20Finding%20Your%20Passion%20and%20Purpose%20-%20this%20book%20provides%20you%20with%20tools%20to%20create%20a%20life%20you%20love.%20Learn%20more.&source=https%3A//liferebootbook.com" target="new">{% include linkedin-inverted.svg %}</a>
    <a href="https://twitter.com/home?status=New%20book%20just%20launched%3A%20Life%20Reboot.%20An%20Inner%20Wisdom%20Guide%20To%20Finding%20Your%20Passion%20and%20Purpose.%20%23LifeRebootBook" target="new">{% include twitter-inverted.svg %}</a>
    <a href="https://pinterest.com/pin/create/button/?url=https://liferebootbook.com&media=https%3A//liferebootbook.com/images/lifereboot-book.png&description=The%20Life%20Reboot%20Book%20by%20author%20Sarah%20Wall" target="new">{% include pinterest-inverted.svg %}</a>
  </div>
</section>
